//
// Global
//

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900&subset=cyrillic");

@font-face {
  font-family: 'Bodoni';
  src: url("../../public/fonts/bodoni.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueHeavy.eot');
  src: local('Uni Neue Heavy'), local('UniNeueHeavy'),
  url('../../public/fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueHeavy.woff2') format('woff2'),
  url('../../public/fonts/UniNeueHeavy.woff') format('woff'),
  url('../../public/fonts/UniNeueHeavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueRegular.eot');
  src: local('Uni Neue Regular'), local('UniNeueRegular'),
  url('../../public/fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueRegular.woff2') format('woff2'),
  url('../../public/fonts/UniNeueRegular.woff') format('woff'),
  url('../../public/fonts/UniNeueRegular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueLight.eot');
  src: local('Uni Neue Light'), local('UniNeueLight'),
  url('../../public/fonts/UniNeueLight.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueLight.woff2') format('woff2'),
  url('../../public/fonts/UniNeueLight.woff') format('woff'),
  url('../../public/fonts/UniNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueBold.eot');
  src: local('Uni Neue Bold'), local('UniNeueBold'),
  url('../../public/fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueBold.woff2') format('woff2'),
  url('../../public/fonts/UniNeueBold.woff') format('woff'),
  url('../../public/fonts/UniNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueHeavy-Italic.eot');
  src: local('Uni Neue Heavy Italic'), local('UniNeueHeavy-Italic'),
  url('../../public/fonts/UniNeueHeavy-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueHeavy-Italic.woff2') format('woff2'),
  url('../../public/fonts/UniNeueHeavy-Italic.woff') format('woff'),
  url('../../public/fonts/UniNeueHeavy-Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueBlack-Italic.eot');
  src: local('Uni Neue Black Italic'), local('UniNeueBlack-Italic'),
  url('../../public/fonts/UniNeueBlack-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueBlack-Italic.woff2') format('woff2'),
  url('../../public/fonts/UniNeueBlack-Italic.woff') format('woff'),
  url('../../public/fonts/UniNeueBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueBold-Italic.eot');
  src: local('Uni Neue Bold Italic'), local('UniNeueBold-Italic'),
  url('../../public/fonts/UniNeueBold-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueBold-Italic.woff2') format('woff2'),
  url('../../public/fonts/UniNeueBold-Italic.woff') format('woff'),
  url('../../public/fonts/UniNeueBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueRegular-Italic.eot');
  src: local('Uni Neue Regular Italic'), local('UniNeueRegular-Italic'),
  url('../../public/fonts/UniNeueRegular-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueRegular-Italic.woff2') format('woff2'),
  url('../../public/fonts/UniNeueRegular-Italic.woff') format('woff'),
  url('../../public/fonts/UniNeueRegular-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueThin.eot');
  src: local('Uni Neue Thin'), local('UniNeueThin'),
  url('../../public/fonts/UniNeueThin.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueThin.woff2') format('woff2'),
  url('../../public/fonts/UniNeueThin.woff') format('woff'),
  url('../../public/fonts/UniNeueThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueBlack.eot');
  src: local('Uni Neue Black'), local('UniNeueBlack'),
  url('../../public/fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueBlack.woff2') format('woff2'),
  url('../../public/fonts/UniNeueBlack.woff') format('woff'),
  url('../../public/fonts/UniNeueBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Neue';
  src: url('../../public/fonts/UniNeueThin-Italic.eot');
  src: local('Uni Neue Thin Italic'), local('UniNeueThin-Italic'),
  url('../../public/fonts/UniNeueThin-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/UniNeueThin-Italic.woff2') format('woff2'),
  url('../../public/fonts/UniNeueThin-Italic.woff') format('woff'),
  url('../../public/fonts/UniNeueThin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
*::-webkit-scrollbar {
  width: 10px;
  &:horizontal {
    height: 3px;
  }
  &-track {
    border-radius: 3px;
  }
  &-thumb {
    border-radius: 2px;
    background-color: #333;
    &:horizontal {
      border-radius: 2px;
      background-color: #333;
    }
  }
}

$sm: 576px; // ≥576px
$md: 768px; // ≥768px
$lg: 992px; // ≥992px
$xl: 1200px; // ≥1200px
$xxl: 1400px; // ≥1400px
$xxxl: 1920px; // ≥1920

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Uni Neue", sans-serif;
  color: #071737;
  font-weight: 500;
  font-size: 18px;
  @media (max-width: $xxxl) {
    font-size: 16px;
  }
  line-height: normal;
  background-repeat: no-repeat !important;
  text-decoration: none;
  border: 0;
  outline: 0;
  &:focus {
    outline: 0;
  }
}

body {
  overflow: auto;
}

section {
  padding: 70px 0;
  @media (max-width: $xxxl) {
    padding: 60px 0;
  }
  position: relative;
}

p {
  text-align: left;
  line-height: 1.5em;
}

h1 {
  font-weight: 700;
  font-size: 55px;
  padding-bottom: 55px;
  @media (max-width: $xxxl) {
    font-size: 53px;
    padding-bottom: 45px;
  }

  span {
    position: relative;
    font-size: 35px;
    top: -15px;
    @media (max-width: $xxxl) {
      font-size: 33px;
      top: -14px;
    }
  }
}
h2 {
  text-align: center;
  font-family: "Bodoni", serif;
  font-size: 45px;
  padding-bottom: 50px;
  @media (max-width: $xxxl) {
    font-size: 40px;
    padding-bottom: 40px;
  }
}
h3 {
  transition: all .3s;
  font-weight: 700;
  text-align: left;
  position: relative;
  font-size: 26px;
  line-height: 41px;

  @media (max-width: $xxxl) {
    font-size: 24px;
    line-height: 38px;
  }
}
h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
h5 {
  font-size: 17px;
  line-height: 1.5em;
  text-align: left;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;

  &.input {
    border-radius: 10px;
    height: 164px;
    margin-top: 10px;
    resize: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  min-width: 450px;
}
th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}
th {
  font-size: 14pt;
  font-weight: 600;
  color: #fff;
  background: #40A5F8;
}

span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
  &.orange {
    color: #FF9900;
    padding-right: 5px;
    font-family: inherit;
  }
  &.circle {
    position: absolute;
    left: -12px;
    top: 12px;
    width: 5px;
    height: 5px;
    background: #212E53;
    border-radius: 50%;
  }
  &.bold {
    font-weight: 700;
  }
}

article p {
  line-height: 2em;
}

ol,
ul {
  list-style: none;
}

.hidden,
[hidden] {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:focus,
  &:active,
  &:hover {
    outline: 0;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
  line-height: 0;
  -ms-interpolation-mode: bicubic;
}

.button_block {
  @include flexbox;
  @include justify-content(flex-end);
  @include align-items(center);
  margin-top: 24px;
  button {
    font-size: 16px;
  }
}
button {
  background: transparent;
  -webkit-appearance: button;
  border: none;
  cursor: pointer;
  background: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn {
  transition: all .3s;
  display: block;
  padding: 17px 0;
  background: #FF9900;
  border-radius: 34px;
  border-bottom: 5px solid #E87420;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: relative;
  width: 284px;
  .button_img {
    padding-left: 40px;
  }
  &:hover {
    background: #FFaa11;
  }
}
.play_btn {
  transition: all .3s;
  width: 177px;
  height: 177px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  filter: brightness(0) invert(1);
  &:hover {
    filter: none;
  }
}
.input {
  transition: all .3s;
  background: #FFFFFF;
  border: 2px solid #212E53;
  box-sizing: border-box;
  border-radius: 41px;
  padding: 20px 30px;
  width: 300px;
  font-size: 16px;
}
.inp:focus {
  background: #f1f1f1;
}
select.inp {
  width: 100%;
  background: #fff;
  padding-right: 30px;
  background-size: 12px !important;
  background-position: right 12px center !important;
  text-align-last: center;
}
.location_content {
  padding: 32px 0;
  width: 68%;
  position: relative;
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  .location_image {
    width: 520px;
    margin-right: 50px;
    .location_slider_img {
      height: 605px;
      position: relative;
    }
    .slick-prev {
      bottom: 50px;
      left: inherit;
      right: -220px;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      top: inherit;
      width: 55px;
      height: 55px;
    }
    .slick-next {
      bottom: 50px;
      right: calc(-220px - 65px);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      top: inherit;
      width: 55px;
      height: 55px;
    }
  }
  .title {
    padding: 70px 0;
    width: calc(100% - 520px - 50px);
    p {
      padding-right: 50px;
    }
  }
  .slider_count {
    bottom: 75px;
    left: 568px;
  }
}
.info_plug {
  position: absolute;
  white-space: nowrap;
  top: 50px;
  left: 102%;
  background: #fff;
  padding: 20px 35px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  ul {
    width: 100%;
    list-style: disc inside;
  }
  &_about {
    margin-top: 20px;
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-end);
    .info_plug_img {
      margin-right: 24px;
    }
    p {
      line-height: 1.7em;
      span {
        font-size: 31px;
        .info_number {
          font-size: 67px;
        }
      }
    }
  }
}
.gallery {
  margin-bottom: 100px;

  %g-left-none {
    transform: translatex(-80%) scale(0.3) !important;
    z-index: 0 !important;
    opacity: 0.3 !important;
  }
  %g-left {
    transform: translatex(-60%) scale(0.4) !important;
    opacity: 0.4 !important;
    z-index: 1 !important;
    @media (max-width: 1023px) {
      transform: translatex(-120%) scale(0);
    }
  }
  %g-left-mid {
    transform: translatex(-35%) scale(0.5) !important;
    opacity: 0.5 !important;
    z-index: 2 !important;
    @media (max-width: 1023px) {
      transform: translatex(-12%) scale(0.38);
    }
  }
  %g-mid {
    opacity: 1;
    z-index: 3 !important;
  }
  %g-right-mid {
    transform: translatex(35%) scale(0.5) !important;
    opacity: 0.5 !important;
    z-index: 2 !important;
    @media (max-width: 1023px) {
      transform: translatex(80%) scale(0.38);
    }
  }
  %g-right {
    transform: translatex(60%) scale(0.4) !important;
    opacity: 0.4 !important;
    z-index: 1 !important;
    @media (max-width: 1023px) {
      transform: translatex(120%) scale(0);
    }
  }
  %g-right-none {
    transform: translatex(80%) scale(0.3) !important;
    z-index: 0 !important;
    opacity: 0.3 !important;
  }

  .item-1--checked {
    .item-5 { @extend %left-none }
    .item-6 { @extend %left }
    .item-7 { @extend %left-mid }
    .item-1 { @extend %mid }
    .item-2 { @extend %right-mid }
    .item-3 { @extend %right }
    .item-4 { @extend %right-none }
  }
  .item-2--checked {
    .item-6 { @extend %left-none }
    .item-7 { @extend %left }
    .item-1 { @extend %left-mid }
    .item-2 { @extend %mid }
    .item-3 { @extend %right-mid }
    .item-4 { @extend %right }
    .item-5 { @extend %right-none }
  }
  .item-3--checked {
    .item-7 { @extend %left-none }
    .item-1 { @extend %left }
    .item-2 { @extend %left-mid }
    .item-3 { @extend %mid }
    .item-4 { @extend %right-mid }
    .item-5 { @extend %right }
    .item-6 { @extend %right-none }
  }
  .item-4--checked {
    .item-1 { @extend %g-left-none }
    .item-2 { @extend %g-left }
    .item-3 { @extend %g-left-mid }
    .item-4 { @extend %g-mid }
    .item-5 { @extend %g-right-mid }
    .item-6 { @extend %g-right }
    .item-7 { @extend %g-right-none }
  }
  .item-5--checked {
    .item-2 { @extend %g-left-none }
    .item-3 { @extend %g-left }
    .item-4 { @extend %g-left-mid }
    .item-5 { @extend %g-mid }
    .item-6 { @extend %g-right-mid }
    .item-7 { @extend %g-right }
    .item-1 { @extend %g-right-none }
  }
  .item-6--checked {
    .item-3 { @extend %g-left-none }
    .item-4 { @extend %g-left }
    .item-5 { @extend %g-left-mid }
    .item-6 { @extend %g-mid }
    .item-7 { @extend %g-right-mid }
    .item-1 { @extend %g-right }
    .item-2 { @extend %g-right-none }
  }
  .item-7--checked {
    .item-4 { @extend %g-left-none }
    .item-5 { @extend %g-left }
    .item-6 { @extend %g-left-mid }
    .item-7 { @extend %g-mid }
    .item-1 { @extend %g-right-mid }
    .item-2 { @extend %g-right }
    .item-3 { @extend %g-right-none }
  }

  .card {
    width: 569px !important;
    height: 800px !important;
  }

  .gallery_block {
    position: relative;
    width: calc(100% - 300px);
    margin: auto;
    h2 {
      text-align: left;
      padding-bottom: 0;
    }
    .gallery_text {
      @include flexbox;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @include flex-wrap(wrap);
    }
  }
  .gallery_plug {
    position: absolute;
    top: 0;
    left: 20%;
    width: 630px;
    z-index: 10;
  }
  .gallery_slider {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 80px;
    align-items: center;
    display: flex;
    height: 392px;
    margin: 0 auto;
    overflow: hidden;
  }
  .gallery_elem {
    height: 236px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 236px;
    z-index: 0;
  }
}
.contacts {
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .plug {
    width: 600px;
    text-align: left;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    h2 {
      text-align: left;
    }
  }
  .contacts_list {
    padding-left: 30px;
    margin-bottom: 50px;
    li {
      padding-left: 50px;
      background-size: 24px !important;
      background-position: left top 7px !important;
      line-height: 1.7em;
      &:nth-child(3) {
        background-position: left top 2px !important;
      }
      &:nth-child(4) {
        background-position: left top 2px !important;
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
  .contacts_social {
    column-gap: 30px;
    margin-bottom: 60px;
    @include flexbox;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    a {
      width: 25px;
      height: 25px;
      background-position: center !important;
      background-size: contain !important;
    }
  }
  .contacts_form {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    .btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  span {
    font-size: 14px;
  }
}
.grid_list_list {
  grid-gap: 50px 30px;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  li {
    width: calc(100% / 3 - 20px);
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
}
.grid_list_about {
  padding: 30px;
  text-align: left;
  .more {
    color: #4A919E;
    font-weight: 700;
    display: block;
    margin: 0 0 0 auto;
    transition: all .3s;
    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
    &:hover {
      color: #FF9900;
      text-decoration: underline;
    }
  }
}
.grid_list_image {
  width: 100%;
  height: 275px;
  background-position: center !important;
  background-size: cover !important;
}
.modal.promotions_modal {
  width: 1100px;
  overflow: hidden;
  .promotion_modal_image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 420px;
    background-size: cover !important;
    background-position: left center !important;
  }
  .promotion_modal_block {
    background: #fff;
    width: calc(100% - 370px);
    min-height: 460px;
    margin-left: 370px;
    padding-left: inherit;
    h3 {
      font-size: 32px;
    }
  }
}
.article_wrap {
  column-gap: 50px;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  .article_block {
    h2 {
      text-align: left;
    }
    p {
      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }
    &:first-child {
      width: calc(100% - 690px);
    }
    &:last-child {
      width: 640px;
    }
    img {
      width: 100%;
      padding-bottom: 30px;
    }
  }
}
.more_slider {
  .more_slider_elem {
    background: #fff;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .slick-next {
    right: -80px;
  }
  .slick-prev {
    left: -80px;
  }
}
.see_more {
  background: #F1F7F8;
}
.breadcrumbs {
  padding: 30px 0;
  .breadcrumbs_nav {
    a {
      position: relative;
      &:not(:last-child) {
        &:after {
          content: '>';
          padding: 0 10px;
        }
      }
    }
    @include flexbox;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.add_review_block {
  width: 75%;
  margin: auto;
  @include flexbox;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @include flex-wrap(wrap);
}
.all_reviews {
  .all_reviews_wrap {
    grid-gap: 0 30px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(flex-start);
    @include flex-wrap(wrap);
  }
  .all_reviews_block {
    width: calc(50% - 15px);
  }
  .all_reviews_elem {
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    a {
      color: inherit;
    }
    .all_reviews_text {
      padding: 40px 0;
    }
  }
  .all_reviews_title {
    span {
      font-size: 14px;
      font-weight: 500;
    }
    .quote {
      font-size: 60px;
      line-height: 1em;
      color: #E87420;
    }
    @include flexbox;
    @include justify-content(space-between);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .all_reviews_buttons {
    @include flexbox;
    @include justify-content(space-between);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include flex-wrap(wrap);
  }
}
.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(30, 83, 92, 0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 500px;
  padding: 50px;
  background: #fff;
  box-shadow: 0 4px 35px rgba(156, 202, 210, 0.5);
  border-radius: 10px;
  text-align: center;
  .button_block {
    margin-top: 0;
  }
  h3 {
    text-align: center;
  }
  h4 {
    font-size: 30px;
    color: #E87420;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    margin: 20px auto;
  }
  .input {
    width: 100%;
    margin-bottom: 10px;
  }
  .info_span {
    font-size: 13px;
  }
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: .7;
  cursor: pointer;
  transition: all .2s;

  path {
    fill: #b3bab8;
  }

  &:hover {
    opacity: 1;
  }
}
.modal_scroll {
  overflow-y: auto;
  max-height: calc(95vh - 100px);
}
.reviews_modal {
  width: 600px;
  .review_form {
    padding: 0 50px;
  }
}
.feedback_modal {
  width: 495px;
  padding: 50px 80px;
}
.successes {
  display: none;
  width: 630px;
  padding: 30px;
  p {
    margin-bottom: 0;
  }
}
.href_label {
  position: relative;
  display: block;
  .input {
    padding-left: 60px;
  }
  &:before {
    top: 50%;
    margin-top: -14px;
    left: 26px;
    width: 18px;
    height: 18px;
    //background: url(../img/link.svg) no-repeat center/contain;
    content: '';
    position: absolute;
    display: block;
  }
}
.for_file {
  position: relative;
  cursor: pointer;
  [type=file] {
    display: none;
  }
  p {
    margin-bottom: 0;
    text-decoration: underline;
    padding-left: 26px;
    //background: url(../img/path.svg) center left/17px;
  }
}
.btn.back_btn {
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -6px;
    left: 22px;
    width: 14px;
    height: 14px;
    //background: url(../img/back.svg) no-repeat center/contain !important;
  }
  padding: 10px 0;
  width: 200px;
  border-radius: 10px;
}
.slider_count {
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(flex-start);
  position: absolute;
  p {
    font-size: 60px;
    line-height: 69px !important;
    font-weight: normal;
    padding: 0;
  }
  span {
    font-size: 20px;
    position: relative;
    font-weight: normal;
    top: 8px;
  }
}
.gallery_controls {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
}
.for_scroll {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #555;
  }
}
.scroll_body {
  overflow: hidden;
}
.plug {
  padding: 50px;
  background: white;
  border-radius: 5px;
  width: 50%;
}
.title {
  position: relative;
  text-align: left;
  h2 {
    padding-bottom: 28px;
    text-align: left;
  }
  p {
    padding-bottom: 44px;
    line-height: 2em;
  }
  .border {
    width: 112px;
    height: 1px;
    background: black;
    margin-bottom: 35px;
  }
}
.hash {
  font-size: 24px;
  font-weight: 700;
  color: #AFD8D5;
}
.btn.blue_btn {
  font-size: 16px;
  background: #4A919E;
  font-weight: 700;
  width: 212px;
  border-bottom: none;
}
.breadcrumbs.grey {
  background: #F1F7F8;
  padding: 15px 0;
}
.back_block {
  padding-top: 70px;
  .button_block {
    margin-top: 0;
  }
}
.href {
  color: #4A919E;
  text-decoration: underline;
}
.href_btn {
  color: inherit;
  background: transparent;
  border: none;
  text-decoration: underline;
  margin: 50px auto 0;
}
.previous,
.next {
  position: relative;
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  cursor: pointer;
  background: #F1F7F8;
  color: transparent;
  z-index: 20;
  padding: 0;
  border: none;
  outline: none;
  right: 0;
  &:hover,
  &:focus {
    outline: none;
    background: #FF9900;
    color: transparent;
    &:before {
      opacity: 1;
    }
  }
}
.info_span {
  color: #87ABB1;
  .href {
    color: inherit;
    font-size: inherit;
  }
}
.date_p {
  font-size: 15px;
  font-weight: 300;
}
.read_more {
  padding-left: 30px;
  //background: url(../img/code.svg) center left/16px;
  font-weight: 400;
  text-decoration: underline;
}
.before_promo {
  display: none;
  background: #AFD8D5;
}

@media (max-width: 1919px) {
  .services_block {
    .item {
      min-height: 324px;
    }
  }
  .advantages {
    background-size: 35%, 50%;
    &:before {
      bottom: 60px;
    }
  }
  .advantages_content {
    margin-bottom: 60px;
  }
  .location_content {
    .location_image {
      width: 500px;
      .location_slider_img {
        height: 600px;
      }
    }
    .title {
      width: calc(100% - 500px - 50px);
    }
  }
  .certificates {
    .certificates_block {
      .title {
        .slider_count {
          right: 15px;
          top: 15px;
        }
      }
    }
  }
  .certificates_content {
    margin-top: -120px;
    .slick-prev {
      top: -178px;
      right: 95px;
    }
    .slick-next {
      top: -178px;
      right: 30px;
    }
  }
  .answers {
    .answers_content {
      .answers_list {
        li {
          p {
            font-size: 13px;
          }
        }
      }
    }
    .video_content {
      .for_video {
        height: 350px;
      }
    }
  }
  .reviews {
    .reviews_content {
      .reviews_slider_navigation {
        width: calc(74% + 20px);
        .reviews_nav_elem {
          margin: 0 10px;
        }
      }
    }
  }
  .work {
    .work_block {
      .title {
        width: 280px;
      }
    }
    .work_content {
      grid-gap: 12px;
      // width: calc(100% - 304px);
    }
  }
  .gallery {
    .gallery_block {
      width: calc(100% - 200px);
    }
  }
  .faq {
    .faq_question {
      p {
        font-size: 23px;
      }
    }
    .faq_answer {
      p {
        font-size: 14px;
        line-height: 1.7em;
      }
    }
  }
  .all_reviews {
    .all_reviews_elem {
      padding: 30px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
      .all_reviews_text {
        padding: 30px 0;
      }
    }
  }
  .plug {
    padding: 40px;
  }
  .title {
    p {
      padding-bottom: 40px;
    }
    .border {
      margin-bottom: 30px;
    }
  }
  .hash {
    font-size: 22px;
  }
  .btn {
    width: 270px;
  }
  .btn.blue_btn {
    width: 200px;
  }
  .input {
    width: 270px;
  }
}
@media (max-width: 1599px) {
  .services_block {
    .item {
      min-height: 270px;
    }
  }
  .advantages {
    &:before {
      height: 585px;
      bottom: 50px;
    }
  }
  .advantages_content {
    margin-bottom: 50px;
    .advantages_elem {
      width: calc(100% / 3 - 10px);
    }
  }
  .location_content {
    .location_image {
      width: 440px;
      .location_slider_img {
        height: 520px;
      }
      .slick-prev {
        bottom: 0;
      }
      .slick-next {
        bottom: 0;
      }
    }
    .title {
      width: calc(100% - 440px - 50px);
      padding: 60px 0;
    }
    .slider_count {
      left: 485px;
      bottom: 25px;
    }
  }
  .info_plug {
    left: 100%;
  }
  .certificates {
    .certificates_block {
      .title {
        .slider_count {
          top: 7px;
        }
      }
    }
  }
  .answers {
    .answers_content {
      .answers_list {
        grid-gap: 12px;
        margin-top: 20px;
        li {
          padding: 8px 12px;
          width: calc(50% - 9px);
          p {
            font-size: 12px;
            width: calc(100% - 40px);
          }
        }
      }
      .play {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        background-size: 8px;
      }
    }
    .video_content {
      .for_video {
        // height: 260px;
      }
    }
  }
  .reviews {
    .reviews_block {
      .reviews_title {
        .percent {
          font-size: 84px;
        }
        .text {
          font-size: 36px;
          margin-bottom: 8px;
          span {
            font-size: 18px;
          }
        }
      }
      img {
        margin: 40px auto;
      }
    }
    .reviews_content {
      .review_slider {
        .for_video {
          // height: 350px;
        }
      }
    }
  }
  .work {
    padding-bottom: 120px;
    .principal-card {
      width: calc(25% - 9px);
      padding: 134px 16px 40px;
      &:before {
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
      }
    }
  }
  .ratio {
    .ratio_content {
      .ratio_elem {
        padding: 25px 0;
        &:nth-child(3) {
          img {
            width: 50%;
          }
        }
        &:before {
          top: 12px;
          left: 12px;
          right: 12px;
          bottom: 12px;
        }
        .ratio_score {
          width: 56px;
          height: 56px;
          bottom: -28px;
          p {
            font-size: 24px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .gallery {
    .gallery_block {
      width: calc(100% - 100px);
    }
  }
  .faq {
    .faq_block {
      width: 70%;
    }
    .faq_question {
      p {
        margin-bottom: 25px;
        font-size: 21px;
      }
      img {
        width: 36px;
        height: 36px;
      }
    }
    .faq_answer {
      p {
        font-size: 13px;
      }
    }
  }
  .contacts {
    .contacts_form {
      .input {
        width: 100%;
      }
    }
    span {
      font-size: 13px;
    }
  }
  .footer_content {
    .footer_content_block {
      width: 21%;
    }
  }
  * {
    font-size: 14px;
  }
  section {
    padding: 50px 0;
  }
  article p {
    line-height: 1.7em;
  }
  .plug {
    padding: 30px;
  }
  .title {
    h2 {
      padding-bottom: 20px;
    }
    p {
      padding-bottom: 30px;
      line-height: 1.7em;
    }
  }
  .hash {
    font-size: 20px;
  }
  .btn {
    width: 250px;
    font-size: 18px;
    border-width: 4px;
  }
  .button_block {
    .btn {
      font-size: 14px;
    }
  }
  h1 {
    font-size: 51px;
    padding-bottom: 40px;
    span {
      font-size: 31px;
      top: -13px;
    }
  }
  h2 {
    font-size: 36px;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 20px;
    line-height: 32px;
  }
  h4,
  h5 {
    font-size: 16px;
  }
  .input {
    width: 250px;
    padding: 19px 30px;
  }

}
@media (max-width: 1365px) {
  h1 {
    font-size: 49px;
    padding-bottom: 20px;
    span {
      font-size: 30px;
      top: -11px;
    }
  }
  .input {
    padding: 18px 30px;
  }

}

@media (max-width: 1199px) {
  .services_block {
    grid-gap: 10px;
    .item {
      padding: 15px;
      width: calc(20% - 8px);
      min-height: 200px;
      a {
        left: 15px;
        bottom: 15px;
      }
    }
  }
  .advantages {
    padding-bottom: 450px;
    background-size: 35%, 75%;
    background-position: left top 22%, bottom 0 right 30px !important;
    &:before {
      width: 100%;
      bottom: 450px;
    }
  }
  .advantages_content {
    .title {
      width: 32%;
    }
    .advantages_block {
      width: 63%;
    }
    .advantages_elem {
      width: calc(100% / 3 - 8px);
    }
  }
  .location_content {
    width: 100%;
    .title {
      p {
        padding-right: 25px;
      }
    }
  }
  .info_plug {
    left: 6%;
    top: inherit;
    bottom: -300px;
  }
  .certificates {
    .certificates_block {
      .title {
        .slider_count {
          top: -2px;
          right: 60px;
        }
      }
    }
  }
  .answers {
    .answers_content {
      width: calc(100% - 380px);
      .answers_list {
        li {
          p {
            font-size: 11px;
          }
        }
      }
    }
    .video_content {
      width: 360px;
    }
  }

  .credit {
    padding: 20px 0;
  }
  .reviews {
    .reviews_block {
      width: 260px;
      .btn {
        width: 100%;
      }
      .input {
        width: 100%;
      }
      .reviews_title {
        .percent {
          font-size: 62px;
        }
        .text {
          font-size: 26px;
          span {
            font-size: 12px;
          }
        }
      }
    }
    .reviews_content {
      width: calc(100% - 300px);
      margin-top: 40px;
      .review_slider {
        width: 620px;
        margin: 0 auto 30px;
        .slick-prev {
          bottom: -108px;
          left: 0;
        }
        .slick-next {
          bottom: -108px;
          right: 0;
        }
      }
      .reviews_slider_navigation {
        width: 640px;
      }
    }
  }
  .work {
    .work_block {
      .title {
        width: 100%;
      }
    }
    .work_content {
      width: 100%;
      margin-top: 60px;
    }
  }
  .ratio {
    padding-bottom: 80px;
    .ratio_block {
      padding: 30px 30px 50px calc(40% - 50px);
      .ratio_img {
        left: -45px;
        width: 40%;
        bottom: -82px;
      }
    }
    .ratio_content {
      grid-gap: 10px;
      .ratio_elem {
        width: calc(25% - (10px * 4 / 3));
        .ratio_score {
          width: 48px;
          height: 48px;
          bottom: -24px;
          p {
            font-size: 21px;
            span {
              top: -5px;
            }
          }
        }
      }
    }
  }
  .gallery {
    .gallery_block {
      width: 100%;
    }
  }
  .faq {
    .faq_block {
      width: 80%;
    }
  }
  .contacts {
    .contacts_form {
      margin-bottom: 20px;
    }
    span {
      font-size: 12px;
    }
  }
  .all_reviews {
    .all_reviews_elem {
      padding: 20px;
    }
  }
  .footer_content {
    .footer_content_block {
      a {
        line-height: 24px;
      }
      p {
        line-height: 24px;
      }
    }
  }
  * {
    font-size: 13px;
  }

  .plug {
    width: 60%;
    padding: 25px;
  }
  .hash {
    font-size: 18px;
  }
  .btn {
    width: 220px;
    padding: 16px 0;
    font-size: 18px;
    border-width: 3px;
  }
  .btn.blue_btn {
    width: 180px;
    font-size: 14px;
  }
  h1 {
    font-size: 49px;
    padding-bottom: 20px;
    span {
      font-size: 29px;
      top: -12px;
    }
  }
  h2 {
    font-size: 32px;
    padding-bottom: 25px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
  }
  .input {
    width: 260px;
    padding: 16px 30px;
  }


}
@media (max-width: 1023px) {
  .services_block {
    grid-gap: 12px;
    .item {
      width: calc(25% - 9px);
    }
  }
  .advantages {
    padding-bottom: 330px;
    background-size: 35%,85%;
    background-position: right 0 top 7%, bottom -10% right -10% !important;
    &:before {
      height: 495px;
      bottom: 330px;
    }
  }
  .advantages_content {
    .title,
    .advantages_block {
      width: 100%;
    }
    .advantages_elem {
      h4 {
        margin-top: -20px;
      }
    }
  }
  .location_content {
    .location_image {
      width: 360px;
      margin-right: 30px;
      .location_slider_img {
        height: 430px;
      }
    }
    .title {
      width: calc(100% - 360px - 30px);
      padding: 30px 0;
    }
    .slider_count {
      left: 385px;
    }
  }
  .info_plug {
    padding: 15px 25px;
    bottom: -230px;
    left: 0;
    .info_plug_about {
      margin-top: 10px;
      p {
        span {
          font-size: 28px;
          .info_number {
            font-size: 50px;
          }
        }
      }
    }
  }
  .certificates {
    .certificates_block {
      .title {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        .slider_count {
          right: 150px;
        }
      }
      .certificates_image {
        width: 100%;
        position: relative;
      }
    }
  }
  .certificates_content {
    width: 100%;
    padding: 0;
    margin: 0;
    .certificates_slider_nav_elem {
      display: none;
    }
    .slick-prev {
      top: -710px;
    }
    .slick-next {
      top: -710px;
    }
  }
  .answers {
    .answers_content {
      width: 100%;
      margin-bottom: 30px;
    }
    .video_content {
      width: 100%;
      margin: auto;
      .for_video {
        // height: 420px;
      }
      .btn {
        margin: 20px auto;
      }
    }
  }

  .credit {
    .credit_block {
      .plug {
        width: 100%;
      }
      img {
        display: none;
      }
    }
  }
  .reviews {
    .reviews_block {
      width: auto;
      left: 0;
      right: 0;
      margin: auto;
    }
    .reviews_content {
      width: 100%;
      margin-top: 30px;
      .review_slider {
        width: 100%;
      }
      .reviews_slider_navigation {
        width: calc(100% + 10px);
        .reviews_nav_elem {
          margin: 0 5px;
        }
      }
    }
  }
  .work {
    padding-bottom: 60px;
    .work_content {
      grid-gap: 20px;
    }
    .principal-card {
      width: calc(50% - 10px);
      padding: 120px 60px 40px;
      &:nth-child(2) {
        img {
          right: 10%;
        }
      }
    }
  }
  .ratio {
    .ratio_block {
      padding: 30px 30px 50px calc(55% - 50px);
      .ratio_img {
        width: 55%;
      }
    }
    .ratio_content {
      .ratio_elem {
        width: calc(50% - (10px * 2 / 3));
        margin-bottom: 24px;
      }
    }
  }
  .faq {
    .faq_question {
      p {
        font-size: 19px;
        margin-bottom: 20px;
      }
    }
    .faq_answer {
      padding: 0 50px 30px 30px;
      p {
        line-height: 1.5em;
      }
    }
  }
  .contacts {
    span {
      font-size: 11px;
    }
  }
  .all_reviews {
    .all_reviews_block {
      width: 100%;
    }
    .all_reviews_elem {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      .all_reviews_text {
        padding: 20px 0;
      }
    }
    .all_reviews_buttons {
      grid-gap: 10px 0;
    }
  }
  .footer_down {
    .footer_block {
      p {
        width: 33%;
      }
    }
  }
  .footer_content {
    .footer_content_block {
      a {
        line-height: 20px;
      }
      p {
        line-height: 20px;
      }
    }
  }
  * {
    font-size: 12px;
  }
  section {
    padding: 30px 0;
  }
  article p {
    line-height: 1.5em;
  }
  .plug {
    width: 100%;
  }
  .title {
    h2 {
      padding-bottom: 15px;
    }
    p {
      line-height: 1.5em;
    }
  }
  .hash {
    font-size: 16px;
  }
  .btn {
    width: 200px;
    padding: 14px 0;
    font-size: 16px;
  }
  .button_block {
    margin-top: 12px;
  }
  h1 {
    font-size: 47px;
    padding-bottom: 30px;
    span {
      font-size: 27px;
      top: -11px;
    }
  }
  h3 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 15px;
  }
  .input {
    padding: 13px 25px;
  }
  .date_p {
    font-size: 14px;
  }

  .before_promo {
    display: block;
    text-align: center;
    .before_promo_img {
      margin: 20px auto -5px;
      max-width: 70%;
    }
  }
}
@media (max-width: 767px) {
  .services_block .item {
    width: calc((100% / 3) - 8px);
    min-height: 180px;
  }
  .advantages {
    padding-bottom: 250px;
    background-size: 35%, 95%;
    background-position: right 0 top 7%, bottom -15% right -200% !important;
    &:before {
      height: 370px;
      bottom: 250px;
    }
  }
  .advantages_content .advantages_elem {
    p {
      line-height: 1.5em;
    }
  }
  .location_content {
    padding: 15px 0;
    .location_image {
      width: 250px;
      margin-right: 15px;
      .location_slider_img {
        height: 340px;
      }
      .slick-prev,
      .slick-next{
        width: 48px;
        height: 48px;
      }
      .slick-prev {
         right: -152px;
       }
      .slick-next {
        right: calc(-152px - 58px);
      }
    }
    .title {
      width: calc(100% - 250px - 15px);
      padding: 15px 0;
      p {
        padding-right: 0;
      }
    }
    .slider_count {
      left: 263px;
      bottom: 13px;
    }
  }
  .info_plug {
    padding: 12px 20px;
    bottom: -175px;
    .info_plug_about {
      margin-top: 6px;
      .info_plug_img {
        margin-right: 12px;
        height: 55px;
      }
      p {
        line-height: 1.5em;
        span {
          font-size: 24px;
          .info_number {
            font-size: 42px;
          }
        }
      }
    }
  }
  .certificates {
    .certificates_block {
      .title {
        margin-bottom: 0;
        .slider_count {
          top: 3px;
        }
      }
      .certificates_image .certificates_slider_elem {
        height: 300px;
        border-radius: 10px;
        &:before {
          display: block;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
  .certificates_content {
    .slick-prev,
    .slick-next {
      width: 48px;
      height: 48px;
      top: -468px;
    }
    .slick-prev {
       right: 88px;
     }
  }
  .answers {
    .answers_content {
      .answers_list {
        grid-gap: 10px;
        li {
          padding: 5px 8px;
          width: calc(50% - 5px);
          p {
            font-size: 10px;
          }
        }
      }
      .play {
        margin-right: 8px;
      }
    }
    .video_content .for_video {
      // height: 300px;
    }
  }

  .credit {
    display: none;
    .credit_block .plug .title {
      width: 250px;
    }
  }
  .reviews {
    .reviews_wrap .slider_count {
      @include flexbox;
      @include justify-content(center);
      position: relative;
      margin: 30px auto 0;
      width: 100%;
    }
    .reviews_block img {
      margin: 20px auto;
    }
    .reviews_content {
      .review_slider .slick-prev,
      .review_slider .slick-next {
        width: 55px;
        height: 55px;
        top: -90px;
        bottom: inherit;
      }
      .reviews_slider_navigation {
        width: 70%;
        display: none;
      }
    }
  }
  .work .principal-card {
    padding: 120px 20px 40px;
    width: 270px;
    &:nth-child(2) img {
      right: 0;
    }
  }
  .ratio {
    .ratio_block {
      padding: 15px;
      .ratio_img {
        width: 50%;
      }
    }
    .ratio_content {
      width: 60%;
      margin-left: 40%;
      grid-gap: 5px;
      .ratio_elem {
        padding: 18px 0;
        &:first-child {
          padding-top: 23px;
        }
        &:last-child {
          padding-top: 24px;
        }
        &:before {
          top: 8px;
          left: 8px;
          right: 8px;
          bottom: 8px;
        }
        .ratio_score p {
          font-size: 19px;
        }
      }
    }
  }
  .gallery {
    .gallery_plug {
      width: 400px;
    }
    .gallery_slider {
      bottom: 53px;
      height: 240px;
    }
  }
  .faq {
    background-size: 0;
    .faq_block {
      width: 100%;
    }
    .faq_answer {
      padding: 0 30px 20px 20px;
      p {
        font-size: 16px;
        line-height: 1.7em;
      }
    }
  }
  .all_reviews {
    .all_reviews_elem {
      padding: 15px;
      .all_reviews_text {
        padding: 15px 0;
      }
    }
  }
  .footer_down {
    .footer_block {
      padding: 15px 0;
      p {
        width: 48%;
        &:first-child {
          width: 100%;
          order: 2;
          margin-top: 5px;
        }
      }
    }
  }
  .footer_content {
    grid-row-gap: 20px;
    .footer_content_block {
      width: 47%;
      a:not(:last-child),
      p:not(:last-child) {
        margin-bottom: 20px;
      }
      &:last-child {
        order: 2;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 4;
      }
    }
  }
  .modal h4 {
    font-size: 24px;
  }
  .close {
    top: 15px;
    right: 15px;
  }
  .feedback_modal {
    width: 90%;
    padding: 30px;
  }
  .successes {
    width: 90%;
    padding: 20px;
  }
  .plug {
    padding: 20px;
  }
  .title {
    p {
      padding-bottom: 20px;
    }
    .border {
      margin-bottom: 20px;
    }
  }
  .hash {
    font-size: 14px;
  }
  .btn {
    width: 170px;
    padding: 13px 0;
    font-size: 15px;
    border-width: 2px;
    .button_img {
      padding-left: 30px;
    }
  }
  .btn.blue_btn {
    width: 170px;
  }
  .slider_count {
    p {
      font-size: 48px;
      line-height: 48px !important;
    }
    span {
      font-size: 16px;
      top: 2px;
    }
  }
  .previous,
  .next {
    width: 48px;
    height: 48px;
  }
  h1 {
    font-size: 42px;
    padding-bottom: 25px;
    span {
      font-size: 23px;
      top: -8px;
    }
  }
  h2 {
    font-size: 28px;
    padding-bottom: 20px;
  }
  h4 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 16px;
    line-height: 1.5em;
  }
  .input {
    font-size: 14px;
    border-width: 1px;
  }
  .info {
    text-align: center;
    font-size: 10px;
    color: gray;
    display: block;
  }


}
@media (max-width: 567px) {
  .services_block {
    .item {
      width: calc(50% - 6px);
      padding: 10px;
      min-height: 150px;
      a {
        left: 10px;
        bottom: 10px;
      }
    }
  }
  .advantages {
    background-size: 100%,150%;
    background-position: right 0 top 7%, bottom -7% right 10% !important;
    &:before {
      height: 635px;
      bottom: 260px;
    }
  }
  .advantages_content {
    .advantages_block {
      grid-row-gap: 18px;
    }
    .advantages_elem {
      width: 100%;
      overflow: hidden;
      h4 {
        margin-top: -40px;
      }
      img {
        max-width: inherit;
        width: calc(100% + 30px);
      }
    }
  }
  .location_content {
    .location_image {
      width: 270px;
      margin: 0 auto;
      .slick-prev,
      .slick-next {
        width: 55px;
        height: 55px;
        bottom: -80px;
      }
      .slick-prev {
        right: 66px;
      }
      .slick-next {
        right: 0;
      }
    }
    .title {
      width: 100%;
      padding-top: 90px;
      p {
        padding-bottom: 0;
      }
    }
    .info_plug li {
      font-size: 12px;
    }
    .slider_count {
      left: 0;
      bottom: inherit;
      top: 370px;
    }
  }
  .info_plug {
    padding: 8px 14px;
    bottom: -100px;
    right: 0;
    margin: auto;
    .info_plug_about {
      .info_plug_img {
        height: 42px;
      }
      p span {
        font-size: 22px;
        .info_number {
          font-size: 30px;
        }
      }
    }
  }
  .certificates {
    .certificates_block {
      .title {
        p:not(.slider_count) p {
          padding-bottom: 100px;
        }
        .slider_count {
          top: inherit;
          bottom: 15px;
          right: 0;
          left: 0;
          margin: auto;
          width: 61px;
        }
      }
      .certificates_image {
        box-shadow: 0 4px 20px rgba(156, 202, 210, 0.5);
      }
    }
  }
  .certificates_content {
    .slick-prev,
    .slick-next {
      width: 55px;
      height: 55px;
      top: -405px;
    }
    .slick-prev {
       right: inherit;
       left: 15px;
     }
    .slick-next {
      right: 15px;
    }
  }
  .answers {
    .answers_content .answers_list li {
      width: 100%;
    }
    .video_content {
      padding: 15px;
      .for_video {
        // height: 160px;
      }
      .btn {
        width: 100%;
        margin: 15px auto;
      }
      .youtube_block p br {
        display: none;
      }
    }
  }

  .credit .credit_block .plug {
    .title {
      width: 100%;
    }
    .btn {
      margin: 15px auto 0;
    }
  }
  .reviews {
    margin-bottom: 0;
    .reviews_wrap {
      .slider_count {
        width: 61px;
      }
    }
    .reviews_block {
      img {
        margin: 0 auto 20px;
      }
      .reviews_form .info {
        display: block;
        margin-top: 10px;
      }
    }
    .reviews_content {
      order: 1;
      .review_slider {
        margin: 0 auto 20px;
        .for_video {
          height: 300px;
        }
      }
      .reviews_slider_navigation .reviews_img {
        height: 70px;
      }
    }
  }
  .work .work_content {
    grid-gap: 50px;
    margin-top: 80px;
  }
  .ratio {
    padding-bottom: 30px;
    .ratio_img {
      width: 75%;
      max-height: 265px;
      bottom: -31px;
      left: -13%;
    }
    .ratio_content {
      width: 100%;
      margin-left: 0;
      @include justify-content(flex-end);
      column-gap: 20px;
      .ratio_elem {
        width: calc(50% - 10px);
        height: 67px;
        &:nth-child(n+3) {
          margin-left: 10px;
        }
        .ratio_score {
          width: 40px;
          height: 40px;
          bottom: -20px;
          p {
            font-size: 16px;
            padding-top: 6px;
            span {
              font-size: 12px;
              top: -4px;
            }
          }
        }
      }
    }
  }
  .gallery {
    background-position: center bottom 22%;
    .gallery_text .btn {
      margin: 15px auto 0;
    }
    .gallery_plug {
      width: 270px;
    }
    .gallery_slider {
      bottom: 36px;
      height: 160px;
    }
  }
  .faq {
    .faq_question {
      p {
        font-size: 18px;
        margin-bottom: 15px;
        margin-right: 12px;
      }
      img {
        width: 28px;
        height: 28px;
      }
    }
    .faq_answer {
      padding: 0 0 15px;
    }
  }
  .contacts {
    .contacts_form {
      margin-bottom: 15px;
      .btn {
        position: relative;
        width: 100%;
        margin-top: 12px;
      }
    }
    span {
      font-size: 10px;
      text-align: center;
    }
  }
  .footer_down .footer_block {
    grid-row-gap: 5px;
  }
  .footer_content {
    .footer_content_block {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      p {
        text-align: center;
        line-height: 1.7em;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &:nth-child(2) br {
        display: none;
      }
      a {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        line-height: 1.7em;
      }
      &:first-child {
        margin-bottom: 6px;
      }
    }
  }
  .modal {
    h3 {
      font-size: 18px;
    }
    .btn {
      width: 100%;
    }
    .info_span {
      display: block;
    }
  }
  * {
    font-size: 16px;
  }
  article p {
    line-height: 1.7em;
  }
  .plug {
    padding: 15px;
  }
  .title {
    h2 {
      font-size: 24px;
    }
    p {
      line-height: 1.7em;
    }
    .border {
      margin-bottom: 15px;
    }
  }
  .hash {
    font-size: 12px;
  }
  .btn {
    width: 160px;
    font-size: 16px;
    padding: 16px 0;

    &.blue_btn {
      width: 160px;
      font-size: 12px;
      color: #4A919E;
      background: white;
    }
  }
  .button_block .btn {
    font-size: 12px;
  }
  .play_btn {
    width: 100px;
    height: 100px;
  }
  .slider_count {
    p {
      font-size: 60px;
      line-height: 69px !important;
    }
    span {
      font-size: 20px;
      top: 8px;
    }
  }
  .previous,
  .next {
    width: 55px;
    height: 55px;
    background: #4A919E;
  }
  h1 {
    font-size: 34px;
    padding-bottom: 15px;
    span {
      font-size: 16px;
      top: -12px;
    }
  }
  h2 {
    font-size: 22px;
    padding-bottom: 15px;
  }
  h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .input {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
  }

  .before_promo .before_promo_img {
    max-width: 100%;
  }

}

@media (max-width: 767px) and (max-width: 567px) {
  .footer_down .footer_block p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    &:first-child {
      margin: 0;
    }
  }
}

.previous {
  transform: rotate(180deg);
  font-size: 0;
  line-height: 0;
}

.slick-arrow {
  z-index: 20;
}