footer {
  position: relative;
  background: #fff;

  @media (max-width: 999px) {
    .social {
      @include flexbox;
      @include flex-wrap(wrap);
      h4 {
        width: 100%;
        @include flex(1);
      }
      p {
        width: 50%;
      }
    }
  }

  .social a, .link {
    width: 100%;
    display: inline !important;
    @include flexbox;
    @include flex-direction(column);
    transition: all 0.1s ease-in-out;
    border-bottom: 1px #4A919E solid;
    &:hover {
      border-color: transparent;
    }
  }
}
.footer_down {
  background: #AFD8D5;
  .footer_block {
    padding: 20px 0;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    p {
      color: #4A919E;
    }
  }
}
.footer_content {
  &_block {
    width: 25%;
    text-align: left;
    svg {
      margin-right: 10px;
      margin-bottom: -5px;
    }
    a {
      display: block;
      line-height: 32px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    h4 {
      @media (max-width: 587px) {
        margin-bottom: 10px;
      }
    }
    p {
      display: block;
      line-height: 32px;
      @media (max-width: 587px) {
        margin-bottom: 20px;
      }
    }
    &:first-child {
      a {
        margin-bottom: 10px;
      }
      p:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-start);
  @include flex-wrap(wrap);
}