header {
  width: 100%;
  position: relative;
  background: white;
  z-index: 500;

  nav  {
    li {
      a {
        transition: all .3s;
        width: 100%;
        padding: 17px 0;
        text-align: center;
        display: block;
        border-radius: 5px;
        background: transparent;
        color: #212E53;
      }
      &:hover a {
        background: #F1F2F8;
        color: #E87420;
        font-weight: bold;
      }
      position: relative;
      width: 100%;
      padding: 8px;
      text-align: center;
      &:not(:first-child):before {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        margin-top: -14.5px;
        height: 29px;
        width: 1px;
        background: #E0ECEA;
      }
    }
    width: 100%;
    ul {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
    }
  }

  .top {
    width: 100%;
    padding: 24px 0;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    border-bottom: 1px solid #212E53;

    & > div {
      width: 25%;
      text-align: left;
    }

    .menu_btn {
      width: 40px;
      height: 40px;
      display: none;
    }
  }
  .location {
    margin-top: 10px;
    padding-left: 35px;
    display: flex;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      left: 5px;
    }

    p {
      line-height: 2em;
      font-size: 14px;
    }
  }
  .contacts {
    .whatsapp,
    .phone {
      @include flexbox;
      position: relative;
      padding-left: 30px;

      .icon {
        position: absolute;
        left: 0;
      }
    }

    .whatsapp {
      a {
        font-size: 14px;
        color: #70B447;
        border-bottom: 1px #70B447 solid;
        &:hover {
          border-bottom: none;
        }
      }
    }
    .phone {
      .icon:not(:first-child) {
        display: none;
      }
      a {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }

  .icon {
    display: block;
  }

  .btn {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin-right: 0;
    margin-left: auto;
    text-align: center;
    padding-left: 40px;
    .icon {
      position: absolute;
      left: 40px;
    }
  }
}

@media (max-width: 1599px) {
  header {
    .phone a {
      font-size: 16px;
    }
     li a {
      padding: 15px 0;
    }
  }
}
@media (max-width: 1199px) {
  header {
    .top {
      padding: 20px 0;
      & > div {
        width: 22%;
      }
    }
    .location {
      margin-top: 5px;
      padding-left: 20px;
      p {
        background-size: 12px;
        font-size: 12px;
      }
    }
    .phone,
    .whatsapp {
      background-size: 15px;
      padding-left: 20px;
    }

    nav li a {
      padding: 10px 0;
    }
  }
}
@media (max-width: 1023px) {
  header {
    .top > div {
      width: 28%;
    }
    .phone {
      margin-bottom: 0;
    }
    .whatsapp {
      display: none;
    }
    .location {
      display: none;
    }
    .contacts {
      width: auto;
    }
  }
}
@media (max-width: 767px) {
  header {
    .top {
      padding: 15px 0;
      border-bottom: none;
      & > div {
        width: auto;
      }
    }

    .logo svg {
      padding-left: 15px;
      width: 230px;
      height: 80px;
    }

    .btn {
      width: 190px;
    }

    .whatsapp {
      color: transparent;
      overflow: hidden;
      width: 20px;
      height: 20px;
      background-size: 18px !important;
    }

    .recording {
      display: none;
    }

    nav {
      position: fixed;
      display: none;
      left: 0;
      right: 0;
      top: 81px;
      background: #fff;

      ul {
        width: 100%;
        margin: auto;
        @include flex-wrap(wrap);
        height: calc(100vh - 81px);
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #FF9900;
        }
      }

      li {
        a {
          padding: 16px 0;
          font-size: 16px;
        }

        &:not(:first-child):before {
          width: calc(100% - 30px);
          right: 0;
          margin: 0 auto;
          height: 1px;
          bottom: inherit;
          top: 0;
        }
      }
    }
  }
}
@media (max-width: 567px) {
  header {
    background: linear-gradient(to bottom, #fff 85px, #F5F6FA 30px);
    padding-bottom: 24px;
    .top {
      padding: 10px 0;
      .menu_btn {
        display: block;
      }
    }
    .btn {
      color: transparent;
      width: 40px;
      height: 40px;
      overflow: hidden;
      padding: 0;
      .icon {
        position: relative;
        background-position: center top 52%;
        background-size: 23px;
        padding: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 40px;
      }
    }
    .contacts {
      position: absolute;
      padding: 8px 0 4px 20px;
      top: 85px;
      left: 0;
      right: 0;
      .phone {
        margin: auto;
        width: 200px;
        a, a span {
          font-size: 18px;
          font-weight: 600;
        }
        .icon:first-child {
          display: none;
        }
        .icon:not(:first-child) {
          display: block;
        }
      }
      .whatsapp {
        display: none;
      }
    }
    nav {
      top: 61px;
      ul {
        height: calc(100vh - 61px);
      }
      li a {
        padding: 10px 0;
        font-size: 14px;
      }
    }
  }
}