.advantages {
  background-position: left top 22%, bottom 30px right 30px !important;
  background-size: 35%, 40%;
  width: 96%;
  &:before {
    left: 0;
    bottom: 70px;
    background: #F1F7F8;
    width: 68%;
    height: 668px;
  }
}
.advantages_content {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding-left: 50px;
  padding-right: 5px;
  margin-bottom: 70px;
  margin-left: auto;
  .title {
    width: 37%;
  }
  .advantages_block {
    @include flexbox;
    width: 60%;
  }
  .advantages_elem {
    width: calc(100% / 3 - 20px);
    text-align: left;
    p {
      line-height: 1.7em;
    }
  }
}
@media (max-width: 1919px) {
  .advantages {
    background-size: 35%, 50%;
    &:before {
      bottom: 60px;
    }
  }
  .advantages_content {
    margin-bottom: 60px;
  }
}
@media (max-width: 1199px) {
  .advantages {
    padding-bottom: 450px;
    background-size: 35%, 75%;
    background-position: left top 22%, bottom 0 right 30px !important;
    &:before {
      width: 100%;
      bottom: 450px;
    }
  }
  .advantages_content {
    .title {
      width: 32%;
    }
    .advantages_block {
      width: 63%;
    }
    .advantages_elem {
      width: calc(100% / 3 - 8px);
    }
  }
}
@media (max-width: 1023px) {
  .advantages {
    padding-bottom: 330px;
    background-size: 35%,85%;
    background-position: right 0 top 7%, bottom -10% right -10% !important;
    &:before {
      height: 495px;
      bottom: 330px;
    }
  }
  .advantages_content {
    .title {
      width: 100%;
    }
    .advantages_block {
      width: 100%;
    }
    .advantages_elem {
      h4 {
        margin-top: -20px;
      }
    }
  }
}
@media (max-width: 767px) {
  .advantages {
    padding-bottom: 250px;
    background-size: 35%, 95%;
    background-position: right 0 top 7%, bottom -15% right -200% !important;
    &:before {
      height: 370px;
      bottom: 250px;
    }
  }
  .advantages_content {
    .advantages_elem {
      p {
        line-height: 1.5em;
      }
    }
  }
}
@media (max-width: 567px) {
  .advantages {
    background-size: 100%,150%;
    background-position: right 0 top 7%, bottom -7% right 10% !important;
    &:before {
      height: 635px;
      bottom: 260px;
    }
  }
  .advantages_content {
    .advantages_block {
      grid-row-gap: 18px;
    }
    .advantages_elem {
      width: 100%;
      overflow: hidden;
      h4 {
        margin-top: -40px;
      }
      img {
        max-width: inherit;
        width: calc(100% + 30px);
      }
    }
  }
}
@media (max-width: 1599px) {
  .advantages {
    &:before {
      height: 585px;
      bottom: 50px;
    }
  }
  .advantages_content {
    margin-bottom: 50px;
    .advantages_elem {
      width: calc(100% / 3 - 10px);
    }
  }
}
