.answers {
  background: #AFD8D5;
  .plug {
    margin: 5px;
  }
  .answers_content {
    width: 100%;
    max-width: 65%;

    .answers_list {
      grid-row-gap: 15px;
      margin-top: 30px;
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(stretch);
      @include flex-wrap(wrap);
      li {
        border-radius: 5px;
        width: calc(50% - 15px);
        @media (max-width: 764px) {
          width: 100%;
        }
        padding: 10px 16px;
        background: #F1F7F8;
        cursor: pointer;
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
        transition: all .3s;
        p {
          font-size: 14px;
          width: calc(100% - 52px);
        }
        &:hover {
          background: #FF9900;
          p {
            color: white;
          }
          .play {
            background: white center/10px;
            .icon path {
              fill: #FF9900;
            }
          }
        }
      }
      li.selected {
        cursor: default;
        background: #FF9900;
        p {
          color: white;
        }
        .play {
          background: white  center/10px;
        }
      }
    }
    .play {
      width: 36px;
      height: 36px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      margin-right: 16px;
      border-radius: 50%;
      background: #AFD8D5 center/10px;
    }
  }
  .video_content {
    width: 100%;
    height: 100%;
    max-width: 33%;
    padding: 20px;
    .for_video {
      border: #AFD8D5 1px solid;
      position: relative;
      width: 100%;
      max-height: 264px;
      margin-bottom: 40px;
      &:hover .icon {
        background: #D84444;
      }
      .icon {
        position: absolute;
        background: #AFD8D5;
        border-radius: 100%;
        cursor: pointer;
        z-index: 15;
        transform: scale(0.6);
        transition: all 0.3s ease-in-out;
        left: 30%;
        top: 20%;
      }
      iframe {
        z-index: 0;
        left: 0;
        top: 0;
        position: absolute;
      }
      img {
        display: none !important; // TODO
        position: absolute;
        top: 0;
        width: 100%;
        height:  100%;
        z-index: 10;
      }
    }
    .btn {
      margin: 30px auto;
      height: 80px;
    }
    .youtube_block {
      column-gap: 15px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
    }
  }
  .answers_block {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(stretch);
    @include flex-wrap(wrap);
  }
}

@media (max-width: 1199px) {
  .answers {
    .answers_content {
      max-width: 59%;
    }
    .video_content {
      max-width: 38%;

      .for_video {
        margin-bottom: 30px;
        .icon {
          left: 28%;
          top: 20%;
        }
      }

      .btn {
        margin: 20px auto;
        height: 66px;
      }
    }
  }
}

@media (max-width: 900px) {
  .answers {
    .answers_content {
      display: none;
    }
    .video_content {
      max-width: 100%;
      width: 100%;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      .for_video {
        margin-bottom: 10px;
        width: 500px;
      }

      .btn {
        width: 500px;
        border-radius: 0;
        height: 50px;
      }
    }
  }
}

@media (max-width: 767px) {
  .answers {
    .video_content {
      .for_video {
        margin-bottom: 0;
        width: 400px;
      }

      .btn {
        width: 400px !important;
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 567px) {
  .answers {
    .video_content {
      .for_video {
        width: 100%;
      }

      .btn {
        width: 100% !important;
        border-radius: 0;
      }
    }
  }
}