.appeal {
  &_img {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-height: 97.4%;
    max-width: 50%;
  }

  article p {
    margin-bottom: 15px;
  }

  background: #AFD8D5;

  @media (max-width: 1199px) {
    background-position: center right 20%;

    &_img {
      left: inherit;
      right: 0;
      max-width: 45%;
    }
  }
  @media (max-width: 1023px) {
    padding-top: 400px;

    &_img {
      top: 30px;
      left: 0;
      margin: auto;
      bottom: inherit;
      max-width: 100%;
      height: 440px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 280px;

    &_img {
      height: 280px;
    }
  }
  @media (max-width: 567px) {
    background-position: center right 5%;

    &_img {
      height: 250px;
    }
  }
}