.certificates {
  position: relative;
  background: #F1F7F8;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  height: 400px;


  .certificates_slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    height: 500px;
    @media (max-width: 567px) {
      height: 100%;
    }
    -webkit-tap-highlight-color: transparent;
  }

  .certificates_block {
    @media (max-width: 567px) {
      @include flexbox;
    }
    .title {
      width: 43%;
      @media (max-width: 567px) {
        width: 100%;
        margin: 0;
      }
      margin-right: 50px;
      margin-bottom: 50px;
      .slider_count {
        top: 0;
        right: 0;
      }
    }
    .certificates_image {
      width: 43%;
      position: absolute;
      @media (max-width: 567px) {
        width: 100%;
        position: relative;
      }
      right: 0;
      z-index: 100;
      .certificates_slider_elem {
        position: relative;
        overflow: hidden;
        height: 500px;
        @media (max-width: 567px) {
          height: 100%;
        }
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center top;
          -webkit-filter: drop-shadow(0 4px 35px rgba(156, 202, 210, 0.5));
          filter: drop-shadow(0 4px 35px rgba(156, 202, 210, 0.5));
        }
      }
    }
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include flex-wrap(wrap);
  }
}
.certificates_content {
  width: 100%;
  position: relative;
  margin-top: -200px;


  .wrapper {
    width: 55%;
    padding-left: 30px;
    .slick-list {
      @media (max-width: 567px) {
        display: none;
      }
    }
  }
  .certificates_slider_nav_elem {
    height: 300px;
    overflow: hidden;
    padding: 20px;
    position: relative;

    img {
      object-fit: contain;
      box-shadow: 0 4px 35px rgba(156, 202, 210, 0.5);
      margin: auto;
    }
  }
  .slick-next,
  .slick-prev {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    top: -192px;
    width: 55px;
    height: 55px;
  }

  .slick-prev {
    left: inherit;
    right: 65px;
  }
  .slick-next {
    right: 0;
  }
}

.slick-arrow:before {
  display: none;
}

.slick-arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex !important;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  background: #AFD8D5;
  &:hover,
  &:focus {
    background: #FF9900;
  }
}

.slick-prev svg {
  transform: rotate(180deg) translateX(2px);
}