.clinic {
  .container {
    @include flexbox;
    @include justify-content(space-between);
    @media (max-width: 1023px) {
      @include flex-direction(column);
    }
  }

  @media (max-width: 1023px) {
    .img-wrapper {
      transform: scale(0.95);
    }
  }

  .plug {
    background: transparent;
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
  &.second {
    background: #F1F7F8;
  }
  article p {
    padding-bottom: 15px;
    font-size: 14px;
    @media (max-width: 767px) {
      font-size: 16px;
      padding-bottom: 20px;
    }
  }
}

.phone_image {
  display: none;
  @media (max-width: 1023px) {
    display: block;
    max-height: 300px;
    margin: auto;
  }
}
