.credit {
  background: #FFCF88;
  padding: 40px 0;
  .credit_block {
    .plug {
      width: 70%;
      @include flexbox;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      @include align-items(center);
      @include flex-wrap(wrap);
      p {
        padding-bottom: 0;
      }
    }
    img {
      width: calc(30% - 30px);
    }
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
  }
}