.doctors {
  background: #AFD8D5  center top/cover;
  padding-bottom: 0;
  .slider_count {
    display: none;
  }
  &_slider {
    width: 100%;
    position: relative;
    &_elem {
      position: relative;
      height: 780px;
    }
    &_img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100px;
      width: 50%;
      opacity: 1;
      z-index: 100;
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
      }
    }
  }
  .experience {
    position: absolute;
    top: 0;
    left: 100px;
    width: 173px;
    background: #fff;
    border-radius: 50%;
    color: #FF9900;
    &:before {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: calc(-100% - 10px);
      background: center left/contain;
      content: '';
      position: absolute;
      display: block;
    }
    &::before {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: calc(-200% - 10px);
      background: center left/contain;
      content: '';
      position: absolute;
      display: block;
    }
    p {
      color: inherit;
      font-size: 70px;
      padding-top: 24px;
      padding-left: 44px;
      line-height: normal;
    }
    .small {
      font-size: 40px;
      padding-bottom: 24px;
      padding-top: 0;
      margin-top: -24px;
    }
    span {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute;
      white-space: nowrap;
      top: 48%;
      right: 8px;
    }
  }

  .bottom {
    margin-top: 40px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    .btn {
      height: 65px;
    }
  }
  .plug {
    margin-left: 50%;
    height: 100%;
  }
  .reward {
    display: none;
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    &_img {
      margin-right: 24px;
    }
    p {
      font-weight: normal;
    }
  }

  article {
    max-height: 100px;
    text-overflow: ellipsis;
    p {
      margin-bottom: 10px;
    }
  }

  .slick-prev,
  .slick-next {
    top: calc(100% - 27px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 55px;
    height: 55px;
  }
  .slick-prev {
    left: 27%;
  }
  .slick-next {
    right: 40px;
  }

  .doctors_slider_img {
    img {
      z-index: 10;
    }
    .circle {
      position: absolute;
      width: 350px;
      height: 350px;
      left: 220px;
      bottom: 70px;
      border-radius: 100%;
      background: #FFFFFF;
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  @media (max-width: 1919px) {
    &_slider_elem {
      height: 695px;
    }
    .slick-prev {
      left: 26%;
    }
  }
  @media (max-width: 1599px) {
    .doctors_slider_elem {
      height: 545px;
    }
    .slick-prev {
      left: 25%;
    }
  }
  @media (max-width: 1365px) {
    .doctors_slider {
      .doctors_slider_elem {
        height: 575px;
      }
    }
    .doctors_slider_img {
      left: 5%;
    }
  }
  @media (max-width: 1199px) {
    .doctors_slider_elem {
      height: 490px;
    }
    .doctors_slider_img {
      width: 40%;
      left: 5%;
    }
    .experience {
      left: 0;
    }
    .plug {
      margin-left: 40%;
    }
    .slick-prev {
      left: 5px;
    }
    .slick-next {
      right: 5px;
    }
  }
  @media (max-width: 1023px) {
    .doctors_slider_elem {
      height: auto;
    }
    .doctors_slider_img {
      width: 100%;
      left: 0;
      position: relative;
      height: 500px;
    }
    .experience {
      left: 10%;
      top: -460px;
    }
    .plug {
      margin-left: 0;
      z-index: 101;
      position: relative;
      margin-bottom: 140px;
    }
    .reward {
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) {
    .experience {
      left: 0;
      top: -470px;
    }
    .doctors_slider_img {
      margin-right: 0;
    }
    .plug {
      margin-bottom: 96px;
    }
    .slick-prev,
    .slick-next {
      width: 48px;
      height: 48px;
      top: calc(100% - 24px);
      right: 10px;
    }
  }
  @media (max-width: 567px) {
    padding-bottom: 320px;
    background: #AFD8D5;
    .slider_count {
      display: flex;
      position: relative;
      margin: 0 auto 30px;
      width: 61px;
      p,
      span {
        color: white;
      }
    }
    .doctors_slider {
      margin: auto;
      width: 90%;
      min-width: 300px;
      .doctors_slider_elem {
        background: #fff;
        border-radius: 10px;
        article,
        .reward,
        .border {
          display: none;
        }
        h2 {
          text-align: center;
        }
        p:not(.experience) p {
          text-align: center;
        }
      }
    }
    .experience {
      width: 95px;
      top: -300px;
      left: 0;
      p {
        font-size: 40px;
        padding-top: 11px;
        padding-left: 22px;
      }
      .small {
        font-size: 24px;
        padding-bottom: 16px;
        margin-top: -18px;
      }
      span {
        right: 0;
        font-size: 9px;
        top: 45%;
      }
    }
    .doctors_slider_img {
      background: center bottom/auto;
      height: 300px;
    }
    .plug {
      margin-bottom: 0;
    }
    .reward .reward_img {
      margin-right: 8px;
      width: 28px;
    }
    .slick-prev,
    .slick-next {
      width: 55px;
      height: 55px;
      top: inherit;
      bottom: -180px;
      background: #4A919E;
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
}
.doctors_list {
  background: #F1F7F8;
  z-index: 100;
  .container {
    z-index: 0;
  }
  &_slider {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 70%;
    &_elem {
      z-index: 100;
      position: relative;
      box-shadow: 0 4px 35px rgba(156, 202, 210, 0.5);
      background: #fff;
      height: 267px;
      width: 320px;
      border-radius: 10px;
      img {
        position: absolute;
        bottom: 0;
        left: -5px;
        max-width: 55%;
        max-height: 90%;
      }
      .doctors_list_slider_about {
        padding-top: 50px;
        padding-left: 60%;
      }
      a {
        position: absolute;
        bottom: 36px;
        left: 60%;
      }
    }
  }

  .btn {
    //margin-left: auto;
  }

  @media (max-width: 1919px) {
    &_list_slider {
      bottom: 20px;
      &_elem {
        height: 240px;
      }
    }
  }
  @media (max-width: 1599px) {
    .doctors_list_slider_elem {
      box-shadow: 0 4px 25px rgba(156, 202, 210, 0.5);
      margin: 0 20px 30px;
      height: 200px;
      background-size: 50% !important;
      a {
        z-index: 100;
        cursor: pointer;
        left: 53%;
      }
    }
    .doctors_list_slider_about {
      z-index: 100;
      padding-left: 53%;
      padding-top: 36px;
    }
  }
  @media (max-width: 1365px) {
    .doctors_list_slider {
      bottom: 30px;
    }
    .doctors_list_slider_elem {
      z-index: 100;
      margin: 0 15px 30px;
      height: 180px;
      background-size: 50% !important;
    }
  }
  @media (max-width: 1199px) {
    padding-top: 140px;
    .doctors_list_slider {
      width: 100%;
      bottom: 100px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 115px;
    .doctors_list_slider {
      bottom: 70px;
    }
    .doctors_list_slider_elem {
      margin: 0 10px 30px;
      height: 160px;
      background-size: 47% !important;
      .doctors_list_slider_about {
        padding-top: 24px;
        padding-left: 50%;
      }
      a {
        left: 50%;
        bottom: 24px;
      }
    }
  }
  @media (max-width: 567px) {
    padding: 30px 0;
    background: #AFD8D5;
    .btn {
      margin: auto;
    }
    .doctors_list_slider_elem {
      margin: 0 0 30px;
      height: 290px;
      border-radius: 0;
      p br {
        display: none;
      }
      img {
        position: relative;
        left: 0;
        right: 0;
        bottom: inherit;
        height: 165px;
        margin: 15px auto;
      }
      .doctors_list_slider_about {
        padding: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        p {
          text-align: center;
        }
      }
    }
  }
}

.slick-next {
  right: 0;
}