.faq {
  transition: all .3s;
  @media (max-width: 764px) {
    background-image: none !important;
  }

  .faq_block {
    width: 60%;
    @media (max-width: 764px) {
      width: 100%;
    }
    margin: auto;
    text-align: left;
    h2 {
      text-align: left;
    }
  }
  .faq_question {
    cursor: pointer;
    padding-bottom: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid #212E53;
    margin-bottom: 30px;
    .arrow {
      border-radius: 50%;
      cursor: pointer;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      border: #212E53 1px solid;
      width: 36px;
      height: 36px;
      svg {
        width: 16px;
        height: 16px;
        transition: all 0.2s ease-in-out;
        path {
          stroke: #212E53;
        }
      }
    }
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
  }
  .faq_answer {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    p {
      padding: 0 75px 15px 50px;
      font-size: 15px;
      line-height: 2em;
      font-weight: normal;
      transition: all .3s;
    }
  }
}
