.order {
  position: relative;
  @include flexbox;
  background: #AFD8D5;
  .map-wrapper {
    width: 100%;
    @include flex(0.612);
  }
  .container {
    @include flex(0.388);
  }
  .order-wrapper {
    padding: 100px 50px 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .header {
    position: relative;
    margin-bottom: 20px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(flex-end);
  }
  .order_form {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    .input {
      border-color: #E0ECEA;
      border-width: 1px;
    }
    .btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  span {
    font-size: 14px;
  }

  @media (max-width: 1919px) {
    .map-wrapper {
      width: 58%;
    }
  }
  @media (max-width: 1599px) {
    .order-wrapper {
      width: 530px;
      padding: 80px 10px 60px 50px;
    }
    .map-wrapper {
      width: 54%;
    }
    .order_form {
      .input {
        width: 100%;
      }
    }
    span {
      font-size: 13px;
    }
  }
  @media (max-width: 1199px) {
    .order-wrapper {
      padding: 70px 0 50px;
      width: 380px;
    }
    .order_form {
      margin-bottom: 20px;
    }
    span {
      font-size: 12px;
    }
  }
  @media (max-width: 1023px) {
    .order-wrapper {
      width: 480px;
      max-width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      padding: 30px 0 40px;
    }
    .map-wrapper {
      position: relative;
      width: 100%;
    }
    span {
      font-size: 11px;
    }
  }
  @media (max-width: 767px) {
    .order-wrapper {
      width: 430px;
    }
  }
  @media (max-width: 567px) {
    @include flex-direction(column-reverse);
    .order-wrapper {
      width: 270px;
      text-align: center;
    }
    .header {
      margin-bottom: 15px;
      @include flex-wrap(wrap);
      img {
        left: 0;
        right: 0;
        margin: 0 auto 10px;
        order: 1;
      }
      .title {
        width: 100%;
        order: 2;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        p {
          order: 2;
          text-align: center;
        }
      }
      &:before {
        width: 80px;
        height: 80px;
        top: -20px;
      }
    }
    .order_form {
      margin-bottom: 15px;
      .btn {
        position: relative;
        width: 100%;
        margin-top: 12px;
      }
    }
    span {
      font-size: 10px;
      text-align: center;
    }
  }
  @media (max-width: 567px) and (max-width: 567px) {
    .header .title h2 {
      text-align: center;
      font-size: 35px;
    }
  }
}