.price {
  ul {
    border-radius: 25px;
    background: #FDFDFD;
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 30px 50px;
    li {
      padding: 16px 10px;
      border-bottom: 2px solid #E0ECEA;
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);
      &:last-child {
        border-bottom: none;
      }
      p {
        font-size: 22px;
        font-weight: normal;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .btn {
    margin: 50px auto 0;
  }
}

@media (max-width: 1919px) {
  .price {
    ul li p {
      font-size: 20px;
    }
    .btn {
      margin-top: 40px;
    }
  }
}
@media (max-width: 1599px) {
  .price {
    ul {
      width: 80%;
      li  p {
        font-size: 18px;
      }
    }
    .btn {
      margin-top: 30px;
    }
  }
}
@media (max-width: 1199px) {
  .price {
    ul {
      width: 90%;
      li p {
        width: calc(100% - 100px);
        &:last-child {
          width: 100px;
        }
      }
    }
    .btn {
      margin-top: 25px;
    }
  }
}
@media (max-width: 1023px) {
  .price {
    ul {
      width: 100%;
      padding: 20px 30px;
      li p {
        font-size: 17px;
      }
    }
    .btn {
      margin-top: 20px;
    }
  }
}
@media (max-width: 767px) {
  .price {
    ul {
      padding: 15px 25px;
      li {
        padding: 12px 10px;
        p {
          font-size: 15px;
        }
      }
    }
    .btn {
      margin-top: 15px;
    }
  }
}
@media (max-width: 567px) {
  .price {
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    ul {
      padding: 12px 15px;
      margin-bottom: 30px;
      li {
        @include flex-direction(column);
        padding: 30px 8px;
        p {
          text-align: center;
          width: 100%;
          &:first-child {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 10px;
          }
          &:last-child {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }

  }
}