.promo {
  padding: 10px;
  background: #AFD8D5;
  overflow: hidden;
  .block {
    h1 {
      margin-bottom: 5px;
      span {
        padding-top: 20px;
        display: flex;
      }
    }

    .promo_list {
      position: relative;
      width: 100%;
      margin-bottom: 55px;

      ul {
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        padding-left: 20px;
        grid-gap: 20px 40px;
        width: 455px;
        li {
          position: relative;
          width: calc(40% - 20px);
          font-size: 18px;
          line-height: 1.5em;
          font-weight: 700;
          &:nth-child(n+3) {
            margin-right: 50px;
          }
          &:nth-child(2) {
            width: 50%;
          }
          span {
            display: flex;
          }
        }
      }

      .promo-microscope {
        position: absolute;
        bottom: -40px;
        left: 170px;
        width: 260px;
        height: 100%;
        display: grid;
        @media (max-width: 1023px) {
          display: none;
        }

        img {
          position: absolute;
          left: 25%;
          bottom: 25px;
          -webkit-filter: drop-shadow(-4px 2px 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-4px 2px 10px rgba(0, 0, 0, 0.3));
        }

        .bg {
          background: #FFFFFF;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          height: 90px;
          width: 240px;
          position: absolute;
          left: 20px;
          bottom: 40px;
        }
      }
    }
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    text-align: left;
    .plug {
      width: 590px;
      border-radius: 10px;
      padding: 50px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      h2 {
        font-size: 30px;
        text-align: left;
        font-weight: 700;
        font-family: "Uni Neue", sans-serif;
        padding-bottom: 0;
        white-space: pre-wrap;
      }
      .promo_form {
        position: relative;
        margin: 30px 0;
        .input {
          width: 100%;
        }
        .btn {
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .info {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        color: #87ABB1;
      }
    }
  }
  .team-bg {
    bottom: -5px;
    right: 100px;
    position: absolute;
    max-width: 70%;
  }
}
@media (max-width: 1919px) {
  .promo {
    .team-bg {
      max-width: 62%;
    }
  }
}
@media (max-width: 1599px) {
  .promo {
    .team-bg {
      max-width: 70%;
      right: -50px;
    }
    .block {
      .plug {
        width: 500px;
        padding: 30px;
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}
@media (max-width: 1365px) {
  .promo {
    .team-bg {
      max-width: 75%;
      right: -10%;
    }
    .block {
      .plug {
        width: 480px;
      }
      .promo_list {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .promo {
    .team-bg {
      width: 480px;
      top: 30px;
      bottom: inherit;
      right: calc((100% - 980px) / 2 + 10px);
    }
    .block {
      width: 100%;
      h1 {
        max-width: 60%;
      }
      .plug h2 {
        font-size: 26px;
      }
      .promo_list {
        width: calc(100% - 550px);
      }
    }
  }
}
@media (max-width: 1023px) {
  .promo {
    background-color: #D7F0EE;
    background-position: top left;
    .team-bg {
      display: none;
    }
    .block {
      h1 {
        max-width: 100%;
      }
      .plug {
        width: 63%;
        h2 {
          font-size: 23px;
        }
      }
      .promo_list {
        width: 25%;
        margin-bottom: 0;
        .promo_list_img {
          display: none;
        }
        ul {
          width: 100%;
          grid-gap: 15px 0;
          li {
            font-size: 18px;
            width: 100%;
            &:nth-child(n+3) {
              margin-right: 0;
            }
            &:nth-child(2) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .promo {
    .block {
      .plug {
        width: 100%;
        padding: 20px;
        .promo_form {
          margin: 20px 0;
        }
      }
      .promo_list {
        width: 100%;
        margin-bottom: 20px;
        .promo_list_img {
          display: block;
          left: 195px;
        }
        ul {
          grid-gap: 15px 35px;
          li {
            @include flexbox;
            width: calc(40% - 20px);
            &:nth-child(n+3) {
              margin-right: 80px;
            }
            &:nth-child(2) {
              width: 45%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 567px) {
  .promo .block {
    .plug {
      padding: 15px;
      h2 {
        font-size: 20px;
      }
      .promo_form {
        margin: 15px 0;
        .btn {
          position: relative;
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    .promo_list {
      background: #FFFFFF;
      -webkit-box-shadow: 0 0 30px rgb(0, 0, 0, 0.1);
      box-shadow: 0 0 30px rgb(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 15px 20px;
      .promo_list_img {
        display: none;
      }
      ul {
        grid-gap: 10px 0;
        padding-left: 0;
        li {
          width: 100%;
          &:nth-child(n+3) {
            margin-right: 0;
          }
          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
  }
}