.ratio {
  z-index: 100;
  padding-bottom: 120px;
  background: linear-gradient(to bottom, transparent 50%, #AFD8D5 50%);
  .ratio_block {
    background: #FFFFFF;
    box-shadow: 0 4px 35px rgba(156, 202, 210, 0.5);
    border-radius: 10px;
    position: relative;
    padding: 50px 50px 70px 500px;
    .ratio_img {
      position: absolute;
      left: -30px;
      bottom: -123px;
      max-height: inherit;
    }
  }
  .ratio_content {
    grid-gap: 20px;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    .ratio_elem {
      position: relative;
      box-shadow: 0 4px 35px rgba(156, 202, 210, 0.3);
      border-radius: 11px;
      background: #fff;
      padding: 20px 0 30px;
      text-align: center;
      width: calc(25% - (20px * 4 / 3));
      &:first-child {
        padding-top: 30px;
        img {
          width: 55%;
        }
      }
      &:nth-child(2) {
        img {
          width: 43%;
        }
      }
      &:nth-child(3) {
        img {
          width: 45%;
        }
      }
      &:last-child {
        padding-top: 32px;
        img {
          width: 36%;
        }
      }
      &:before {
        border: 2px solid #E0ECEA;
        border-radius: 11px;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        content: '';
        position: absolute;
        display: block;
      }
      .ratio_score {
        border-radius: 50%;
        background: #FF9900;
        width: 62px;
        height: 62px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -31px;
        @include flexbox;
        @include justify-content(center);
        @include justify-content(center);
        @include align-items(center);
        p {
          color: #FFFFFF;
          text-align: center;
          font-size: 27px;
          font-weight: 700;
          padding-top: 8px;
          span {
            font-size: 16px;
            vertical-align: sub;
            position: relative;
            top: -7px;
            font-weight: 500;
          }
        }
      }
    }
  }
}


@media (max-width: 1199px) {
  .ratio {
    padding-bottom: 80px; } }
@media (max-width: 567px) {
  .ratio {
    padding-bottom: 30px; } }
@media (max-width: 1199px) {
  .ratio .ratio_block {
    padding: 30px 30px 50px calc(40% - 50px); } }
@media (max-width: 1023px) {
  .ratio .ratio_block {
    padding: 30px 30px 50px calc(55% - 50px); } }
@media (max-width: 767px) {
  .ratio .ratio_block {
    padding: 15px; } }
@media (max-width: 1199px) {
  .ratio .ratio_block .ratio_img {
    left: -45px;
    width: 40%;
    bottom: -82px; } }
@media (max-width: 1023px) {
  .ratio .ratio_block .ratio_img {
    width: 55%; } }
@media (max-width: 767px) {
  .ratio .ratio_block .ratio_img {
    width: 50%; } }
@media (max-width: 567px) {
  .ratio .ratio_block .ratio_img {
    width: 75%;
    max-height: 265px;
    bottom: -31px;
    left: -13%; } }
@media (max-width: 1199px) {
  .ratio .ratio_content {
    grid-gap: 10px; } }
@media (max-width: 767px) {
  .ratio .ratio_content {
    width: 60%;
    margin-left: 40%;
    grid-gap: 5px; } }
@media (max-width: 567px) {
  .ratio .ratio_content {
    width: 100%;
    margin-left: 0;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    column-gap: 20px; } }
@media (max-width: 1599px) {
  .ratio .ratio_content .ratio_elem {
    padding: 25px 0; } }
@media (max-width: 1199px) {
  .ratio .ratio_content .ratio_elem {
    width: calc(25% - (10px * 4 / 3)); } }
@media (max-width: 1023px) {
  .ratio .ratio_content .ratio_elem {
    width: calc(50% - (10px * 2 / 3));
    margin-bottom: 24px; } }
@media (max-width: 767px) {
  .ratio .ratio_content .ratio_elem {
    padding: 18px 0; } }
@media (max-width: 567px) {
  .ratio .ratio_content .ratio_elem {
    width: calc(50% - 10px);
    height: 67px; }
  .ratio .ratio_content .ratio_elem:nth-child(n+3) {
    margin-left: 10px; } }
@media (max-width: 767px) {
  .ratio .ratio_content .ratio_elem:first-child {
    padding-top: 23px; } }
@media (max-width: 1599px) {
  .ratio .ratio_content .ratio_elem:nth-child(3) img {
    width: 50%; } }
@media (max-width: 767px) {
  .ratio .ratio_content .ratio_elem:last-child {
    padding-top: 24px; } }
@media (max-width: 1599px) {
  .ratio .ratio_content .ratio_elem:before {
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px; } }
@media (max-width: 767px) {
  .ratio .ratio_content .ratio_elem:before {
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px; } }
@media (max-width: 1599px) {
  .ratio .ratio_content .ratio_elem .ratio_score {
    width: 56px;
    height: 56px;
    bottom: -28px; } }
@media (max-width: 1199px) {
  .ratio .ratio_content .ratio_elem .ratio_score {
    width: 48px;
    height: 48px;
    bottom: -24px; } }
@media (max-width: 567px) {
  .ratio .ratio_content .ratio_elem .ratio_score {
    width: 40px;
    height: 40px;
    bottom: -20px; } }
@media (max-width: 1599px) {
  .ratio .ratio_content .ratio_elem .ratio_score p {
    font-size: 24px; } }
@media (max-width: 1199px) {
  .ratio .ratio_content .ratio_elem .ratio_score p {
    font-size: 21px; } }
@media (max-width: 767px) {
  .ratio .ratio_content .ratio_elem .ratio_score p {
    font-size: 19px; } }
@media (max-width: 567px) {
  .ratio .ratio_content .ratio_elem .ratio_score p {
    font-size: 16px;
    padding-top: 6px; } }
@media (max-width: 1599px) {
  .ratio .ratio_content .ratio_elem .ratio_score p span {
    font-size: 14px; } }
@media (max-width: 1199px) {
  .ratio .ratio_content .ratio_elem .ratio_score p span {
    top: -5px; } }
@media (max-width: 567px) {
  .ratio .ratio_content .ratio_elem .ratio_score p span {
    font-size: 12px;
    top: -4px; } }
