.reviews {
  background: #F1F7F8  center/cover;
  margin-bottom: 70px;
  .reviews_wrap {
    .slider_count {
      display: none;
    }
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
  }
  .reviews_block {
    width: 400px;
    text-align: center;
    .reviews_title {
      .percent {
        font-size: 95px;
        font-family: "Bodoni", serif;
      }
      .text {
        font-size: 42px;
        color: #4A919E;
        font-weight: normal;
        line-height: 1;
        margin-left: 20px;
        margin-bottom: 20px;
        span {
          font-size: 20px;
          font-style: italic;
        }
      }
      @include flexbox;
      @include align-items(center);
    }
    img {
      margin: 50px auto;
    }
    .reviews_form {
      .input {
        margin-bottom: 20px;
      }
      .btn {
        margin: auto;
      }
      .info {
        display: none;
      }
    }
  }
  .reviews_content {
    width: 63%;
    margin-top: 50px;
    .review_slider {
      width: 74%;
      margin: 0 auto 50px;
      .for_video {
        border: 2px solid #FF9900;
        position: relative;
      }
      .slick-prev {
        bottom: -130px;
        left: -100px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: inherit;
        width: 55px;
        height: 55px;
      }
      .slick-next {
        bottom: -130px;
        right: -100px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: inherit;
        width: 55px;
        height: 55px;
      }
    }
    .reviews_slider_navigation {
      width: calc(74% + 30px);
      margin: auto;
      .reviews_nav_elem {
        margin: 0 15px;
        border: 2px solid #FF9900;
        .reviews_img {
          height: 100px;
        }
        p {
          font-family: "Bodoni", serif;
          text-align: center;
        }
      }
    }
  }
}