.services {
  background: #F1F7F8;

  h2 {
    margin-bottom: 20px;
    @media (max-width: 1199px) {
      font-size: 26px;
    }
    @media (max-width: 767px) {
      margin-top: 5px;
      font-size: 28px;
    }
    @media (max-width: 567px) {
      font-size: 32px;
    }
  }
}
.services_block {
  grid-gap: 15px;
  @include flexbox;
  @media (max-width: 767px) {
    @include justify-content(center);
  }
  @include align-items(center);
  @include flex-wrap(wrap);

  .item {
    padding: 30px;
    position: relative;
    height: 100%;
    width: calc(100% / 5 - 20px);
    background: white;
    min-height: 350px;

    h3 {
      font-size: 20px;
    }

    @media (max-width: 1599px) {
      min-height: 320px;
    }
    @media (max-width: 1366px) {
      h3 {
        line-height: 32px;
      }
    }
    @media (max-width: 1199px) {
      min-height: 330px;
      width: 31%;
      h3 {
        font-size: 22px;
        line-height: 30px;
      }
    }
    @media (max-width: 1000px) {
      min-height: 290px;
    }
    @media (max-width: 767px) {
      width: 48%;
      h3 {
        font-size: 21px;
      }
    }
    @media (max-width: 567px) {
      width: 100%;
      h3 {
        font-size: 20px;
      }
    }
    @media (max-width: 467px) {
      h3 {
        font-size: 18px;
      }
      .services_block_ol {
        padding-top: 0;
        li {
          margin-top: 10px;
          font-size: 15px;
        }
      }
    }

    a {
      position: absolute;
      left: 30px;
      bottom: 30px;
      font-size: 16px;
      transition: all .3s;
      &:hover {
        color: #FF9900;
      }
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 80%;
      transition: all .3s;
    }
    .hidden_href {
      opacity: 50%;
    }
    &:hover {
      h3 {
        color: #FF9900;
      }
      img {
        opacity: .3;
      }
      .services_block_ol,
      .hidden_href {
        opacity: 1;
      }
    }
  }
  .services_block_ol {
    opacity: 0;
    position: relative;
    padding-top: 10px;
    list-style: disc inside;
    text-align: left;
    transition: all .3s;
    li {
      margin-top: 20px;
      @media (max-width: 1599px) {
        margin-top: 15px;
      }
      font-weight: 700;
      font-size: 16px;
      @media (max-width: 1199px) {
        font-size: 17px;
      }
      @media (max-width: 467px) {
        font-size: 20px;
        margin-top: 25px;
      }
    }
  }
}