.team {
  padding-bottom: 0;

  & > h2 {
    padding-bottom: 10px;
  }

  .controls {
    position: absolute;
    @include flexbox;
    @include justify-content(center);
    left: 50%;
    top: 34%;
    .previous,
    .next {
      width: 64px;
      height: 64px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      background: #AFD8D5;
      &:hover,
      &:focus {
        background: #FF9900;
      }

      @media (max-width: 1023px) {
        width: 48px;
        height: 48px;
      }
    }
    .previous {
      margin-left: -320px;
      @media (max-width: 1023px) {
        margin-left: -320px;
      }
      @media (max-width: 767px) {
        margin-left: -270px;
      }
      @media (max-width: 567px) {
        margin-left: -180px;
      }
    }
    .next {
      margin-left: 512px;
      @media (max-width: 1023px) {
        margin-left: 544px;
      }
      @media (max-width: 767px) {
        margin-left: 444px;
      }
      @media (max-width: 567px) {
        margin-left: 264px;
      }
    }
  }
  .slider-wrapper {
    position: relative;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    height: 483px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;

    .container {
      margin-top: -50px;
      width: 100%;
    }
  }
}

%left-none {
  transform: translatex(-120%) scale(0);
  z-index: 0;
}
%left {
  transform: translatex(-104%) scale(0.38);
  z-index: 0;
  @media (max-width: 1023px) {
    transform: translatex(-120%) scale(0);
  }
}
%left-mid {
  transform: translatex(-62%) scale(.38);
  z-index: 0;
  @media (max-width: 1023px) {
    transform: translatex(-80%) scale(0.38);
  }
}
%mid {
  transform: translatex(0) scale(0.65);
  z-index: 1;
}
%right-mid {
  transform: translatex(62%) scale(.38);
  z-index: 0;
  @media (max-width: 1023px) {
    transform: translatex(80%) scale(0.38);
  }
}
%right {
  transform: translatex(104%) scale(0.38);
  z-index: 0;
  @media (max-width: 1023px) {
    transform: translatex(120%) scale(0);
  }
}
%right-none {
  transform: translatex(120%) scale(0);
  z-index: 0;
}

.slider {
  .container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    @include flexbox;
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
  }

  .cards {
    position: relative;
    width: 100%;
    height: 483px;
    margin-bottom: 20px;

    .card {
      position: absolute;
      height: 483px;
      max-width: 770px;
      width: 100%;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 30px;
      @media (max-width: 767px) {
        border-radius: 15px;
      }
      transition: all .4s ease;
      cursor: pointer;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

      img {
        height: 483px;
        width: 770px;
        border-radius: 30px;
        @media (max-width: 767px) {
          border-radius: 15px;
        }
        background-size: cover !important;
        background-position: center !important;
        object-fit: cover;
      }
    }
  }

  .item-1--checked {
    .item-5 { @extend %left-none }
    .item-6 { @extend %left }
    .item-7 { @extend %left-mid }
    .item-1 { @extend %mid }
    .item-2 { @extend %right-mid }
    .item-3 { @extend %right }
    .item-4 { @extend %right-none }
  }
  .item-2--checked {
    .item-6 { @extend %left-none }
    .item-7 { @extend %left }
    .item-1 { @extend %left-mid }
    .item-2 { @extend %mid }
    .item-3 { @extend %right-mid }
    .item-4 { @extend %right }
    .item-5 { @extend %right-none }
  }
  .item-3--checked {
    .item-7 { @extend %left-none }
    .item-1 { @extend %left }
    .item-2 { @extend %left-mid }
    .item-3 { @extend %mid }
    .item-4 { @extend %right-mid }
    .item-5 { @extend %right }
    .item-6 { @extend %right-none }
  }
  .item-4--checked {
    .item-1 { @extend %left-none }
    .item-2 { @extend %left }
    .item-3 { @extend %left-mid }
    .item-4 { @extend %mid }
    .item-5 { @extend %right-mid }
    .item-6 { @extend %right }
    .item-7 { @extend %right-none }
  }
  .item-5--checked {
    .item-2 { @extend %left-none }
    .item-3 { @extend %left }
    .item-4 { @extend %left-mid }
    .item-5 { @extend %mid }
    .item-6 { @extend %right-mid }
    .item-7 { @extend %right }
    .item-1 { @extend %right-none }
  }
  .item-6--checked {
    .item-3 { @extend %left-none }
    .item-4 { @extend %left }
    .item-5 { @extend %left-mid }
    .item-6 { @extend %mid }
    .item-7 { @extend %right-mid }
    .item-1 { @extend %right }
    .item-2 { @extend %right-none }
  }
  .item-7--checked {
    .item-4 { @extend %left-none }
    .item-5 { @extend %left }
    .item-6 { @extend %left-mid }
    .item-7 { @extend %mid }
    .item-1 { @extend %right-mid }
    .item-2 { @extend %right }
    .item-3 { @extend %right-none }
  }
}