.work {
  margin-top: 100px;
  .work_block {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    @media (max-width: 1365px) {
      @include flex-direction(column);
    }
  }
  .title {
    max-width: 380px;
    margin-bottom: 40px;
    @include flex(0.2);
  }
  .work_content {
    @include flex(0.75);
    grid-gap: 24px;
    width: calc(100% - 400px);
    @media (max-width: 1365px) {
      width: 100%;
    }
    @include flexbox;
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    @media (max-width: 567px) {
      @include flex-direction(column);
    }
  }
  .principal-card {
    width: calc(25% - 18px);
    @media (max-width: 1365px) {
      width: calc(50% - 18px);
      margin-bottom: 35px;
    }
    @media (max-width: 567px) {
      width: 100%;
    }
    background: #fff;
    box-shadow: 0 4px 35px rgba(156, 202, 210, 0.3);
    border-radius: 15px;
    position: relative;
    padding: 134px 20px 40px;
    text-align: center;
    h5 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &:before {
      border: 2px solid #E0ECEA;
      border-radius: 15px;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      content: '';
      position: absolute;
      display: block;
    }
    &:first-child {
      img {
        top: 43px;
      }
    }
    &:nth-child(2) {
      img {
        top: 43px;
        left: inherit;
      }
    }
    &:nth-child(3) {
      img {
        top: 33px;
      }
    }
    &:last-child {
      img {
        top: 33px;
      }
    }
    p {
      text-align: center;
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}